PORT="Puerto donde estara activo la api"
DB_USER="Usuario de la base de datos"
DB_PASSWORD="Contraseña de la base de datos"
DB_HOST="direccion Host de la base de datos"
DB_PORT="Puerto del SGBD"
DB_NAME="Nombre de la base de datos"
SECRET_KEY="Contraseña secreta para generar los JWT"